@{
    ViewData["Title"] = "Home Page";
}

<link rel="stylesheet" href="~/css/simplePagination.css" />

<h1 class="title">EMobile - wandio</h1>

<div class="row">
    <div class="col-md-3">
        <div class="filter-row">
            <input class="form-control" id="name" placeholder="დასახელება" />
        </div>
        <div class="filter-row">
            <input class="form-control" id="manufacturer" placeholder="მწარმოებელი" />
        </div>
        <div class="filter-row inline">
            <div class="w-50">
                <input type="number" class="form-control" id="priceFrom" placeholder="ფასი-დან" />
            </div>
            <div class="w-50">
                <input type="number" class="form-control col-md-6" id="priceTo" placeholder="ფასი-მდე" />
            </div>
        </div>
        <div class="filter-row">
            <input type="button" id="search" class="btn btn-success form-control" value="ძებნა"/>
        </div>
    </div>
    <div class="col-md-9 border-left-dashed">
        <div class="row tile-row">
            <div class="col-md-3">
                <label for="itemsPerPage">Items per page</label>
                <select class="per-page-select" id="itemsPerPage">
                    <option value="5">5</option>
                    <option value="10" selected>10</option>
                    <option value="20">20</option>
                    <option value="50">50</option>
                </select>
            </div>
            <div class="col-md-9">
                <div id="pagination" class="pagination light-theme simple-pagination pull-right"></div>
            </div>
        </div>
        <div id="phones"></div>
    </div>
</div>


@section Scripts {
    <script src="~/js/jquery.simplePagination.js"></script>
    <script>
        $(document).ready(function () {

            search();

            $('#search').click(() => { search(); });
            $('#itemsPerPage').change(() => { search(); });

            $(document).keypress(function (e) {
                var key = e.which;
                if (key === 13)
                {
                    $('#search').click();
                    return false;
                }
            });


            function search(pageNum = 1, initPagination = true) {
                let dataObj = {
                    pageNum: pageNum,
                    itemsPerPage: +$('#itemsPerPage').val()
                };

                let filterValues = parseFilters();

                Object.keys(filterValues).forEach(key => {
                    if (filterValues[key] !== '') {
                        dataObj[key] = filterValues[key];
                    }
                });

                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("GetPhonesPartial", "Home")',
                    data: dataObj,
                    success: function (response) {
                        $('#phones').html(response);
                        if (initPagination) {
                            setupPagination();
                        }
                    }
                });
            }

            function parseFilters() {
                return {
                    priceFrom: $('#priceFrom').val(),
                    priceTo: $('#priceTo').val(),
                    manufacturer: $('#manufacturer').val(),
                    name: $('#name').val()
                };
            }

            function setupPagination() {
                $('#pagination').html('');

                $('#pagination').pagination({
                    items: +$('#totalCount').val(),
                    itemsOnPage: +$('#itemsPerPage').val(),
                    cssStyle: 'light-theme',
                    onPageClick: function (pageNumber, event) {
                        search(pageNumber, false);
                    }
                });
            }
        });
    </script>
}