/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
    font-family: Helvetica, sans-serif
}

.title {
    color: #666;
    text-decoration: none;
}

.border-left-dashed {
    border-left: 2px dashed #666;
}

@media(max-width:991px) {
    .border-left-dashed {
        border-left: none;
    }
}

.filter-row {
    margin-bottom: 10px;
}

.w-100 {
    width: 100%;
}

.w-50 {
    width: 50%;
}

.inline {
    display: inline-flex;
}

.m-r-10 {
    margin-right: 10%;
}

.tile {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
}

.tile:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
}

.tile-container {
    padding: 2px 16px 16px 16px;
}

.tile-row {
    padding-bottom: 30px;
}

#loading {
    position: absolute;
    z-index: 9999;
    width: 100%;
    height: 100%;
    text-align: center;
    vertical-align: middle;
    background-color: #e8ecf4;
    opacity: 0.4;
}

#loading img {
    margin: 0 auto;
}

.price-banner {
    color: #5cb85c;
    font-weight: bold;
}

.details {
    font-family: Helvetica, sans-serif;
    font-size: 16px;
    color: #666;
}

.details .row {
    padding: 10px;
}

.image-big {
    width: 100%;
    height: 300px;
}

.image-small {
    width: 100%;
    height: 262px;
}

.per-page-select {
    color: #666;
    font-size: 14px;
    line-height: 24px;
    font-weight: normal;
    text-align: center;
    border: 1px solid #BBB;
    min-width: 14px;
    padding: 2px 7px;
    margin: 0 5px 0 0;
    border-radius: 3px;
    box-shadow: 0 1px 2px rgba(0,0,0,0.2);
    text-decoration: none;
    background: #FCFCFC;
}